* {
  margin: 0;
  padding: 0;
}

.login-form {
  width: 500px;
  margin: 0 auto;
  padding-top: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-align: center;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

label {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  color: #fff;
  background: #fcb376;
  border: #ddd 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
}
.btn:hover {
  cursor: pointer;
  background-color: #fa8320;
}
